body,html{
    overflow-x: hidden;
}
form{
    margin-top:-25px;
}
.form-frame{
    margin-top: -30px;;
}
input,select{
    background: none;
    padding:0px;
    width:100%;
    margin-bottom: 20px;
    border:1px solid rgb(61, 61, 61);
    padding: 2px;
    border-radius: 5px;
}
label{
    line-height: 10px;
    font-size:3.5vmin;
}
#receiver-register-btn,#hospital-register-btn,#login-btn,#add-donor-btn{
    background-color:#E22929;
    color:white;
    width:70%;
    max-width:280px;
    margin-bottom: 25px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}#err-msg{
    margin-top:15px;
}