
<!-- This template is used to login users -->

<form action="../formsubmission/loginDB.php" method="POST">
    <div class="container mt-2 form-frame">
        <p style="font-weight:bold;font-size:28px;margin-bottom:-10px;margin-top:30px;margin-left:20px">Login</p>
        <div class="row">
            <div class="col-md-5 offset-2">
                <label for="">Email Id</label><br>
                <input id="email" name="email" required type="email"><br>
    
                <label for="">Password</label><br>
                <input id="pwd" name="pwd" required type="password"><br>
    
                <button class="btn" id="login-btn">Login</button>
            </div>
        </div>
    </div>
</form>